.rotate-180 {
  transition: transform 250ms ease;

  &.rotate-active {
    transform: rotate( -180deg );
  }
}

// because its effect is not satisfied our requirement
.hov-black {
  &:hover,
  &:active {
    color: black !important;
  }
}

// animation - spinning
@keyframes an-spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
.an-spin {
  display: inline-block;
  animation: an-spin 2s infinite linear;
}

// animation - pulse button
$an-pulse: 0 0 0 15px rgba(232, 76, 61, 0);
@-webkit-keyframes pulse {to {box-shadow: $an-pulse}}
@-moz-keyframes pulse {to {box-shadow: $an-pulse}}
@-ms-keyframes pulse {to {box-shadow: $an-pulse}}
@keyframes pulse {to {box-shadow: $an-pulse}}
.an-pulse-btn {
  position: relative;
  border: none;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 50%;
  background-color: #e84c3d;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

  :hover
  {
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  }
}
