@import './my-variables';

.a-muted {
  color: $gray-700 !important;
  text-decoration: none !important;

  &:hover {
    color: $gray-800 !important;
  }
}

.a-bright {
  color: #EFEFEF !important;
  text-decoration: none !important;

  &.active,
  &:hover {
    color: #fdff9c !important;
    border-bottom: solid 1px #fdff9c;
  }
}